@import "tailwindcss";
@font-face {
  font-family: "arabic";
  src: url(../fonts/Wafeq-Regular.otf);
}


body {
  font-family: "arabic"; 
  font-size: 16px; 
  overflow: hidden; /* Ensures the blur doesn't overflow */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  width: 100%; 
  height: 100%;
  background-image: url(../images/audio-headset-used-by-call-center-agents-help-clients-telecommunication-with-technology-empty-customer-service-workstation-with-headphones-computers-modern-gadgets.jpg);
  background-position: 0 0; 
  background-size: cover;   
  background-repeat: repeat;
  filter: blur(3px); /* Adjust the blur intensity as needed */
  z-index: -1; /* Ensures the pseudo-element stays behind the content */
} 
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 /* Semi-transparent white overlay */
  z-index: -1; /* Ensures the overlay stays behind the content */
}
