@import "tailwindcss";
@font-face {
  font-family: "arabic";
  src: url(../fonts/Wafeq-Regular.otf);
}

 
body{ 
  font-family: "arabic";
  font-size: 16px; 
  overflow: auto; 
  z-index: 1;

}
.bg-home {
  
  position: relative; /* Required for pseudo-element positioning */
  z-index: 1; /* Ensure content is above the blurred background */ 
  min-height: 100vh;
}

.bg-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/audio-headset-used-by-call-center-agents-help-clients-telecommunication-with-technology-empty-customer-service-workstation-with-headphones-computers-modern-gadgets.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: repeat;
  filter: blur(5px); /* Apply blur to the background only */
  z-index: -1; /* Place the blurred background behind the content */
}
